/***************** Onboarding modal *****************/
#onboarding-layer {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: scroll; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
}
#onboarding-modal {
    display: none;
    position: absolute;
    top: 15%;
    left: 7.5%;
    z-index: 1; /* Sit on top */
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    height: 80%;
    width: 85%;
    border-radius: 10px;
    padding: 15px 20px 20px 20px;
}
/* Onboarding container */
.onboarding-container {
    height: 85%;
    width: 100%;
    position: relative;
    margin: auto;
}
/* Caption title */
#onboarding-title {
    color: black;
    padding: 0px 12px;
    position: absolute;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}
#onboarding-img {
    position: absolute;
    height: 75%;
    top: 5%;
}
/* Caption text */
#onboarding-text {
    color: black;
    font-size: 15px;
    padding: 0px 6px 0px 6px;
    position: absolute;
    top: 75%;
    width: 100%;
    text-align: center;
}
#get-started-1 {
    position: absolute;
    top: 90%;
}
#get-started-2 {
    position: absolute;
    top: 100%;
}

/***************** Category Modal *****************/
#categoryTip-layer {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: scroll; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
}
#categoryTip-modal {
    display: none;
    position: absolute;
    top: 15%;
    left: 7.5%;
    z-index: 2; /* Sit on top */
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    height: 80%;
    width: 85%;
    border-radius: 10px;
    padding: 15px 20px 20px 20px;
}
/* CategoryTip container */
.categoryTip-container {
    height: 85%;
    width: 100%;
    position: relative;
    margin: auto;
}
/* Caption title */
#categoryTip-title {
    color: black;
    padding: 0px 12px;
    position: absolute;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}
#categoryTip-img {
    position: absolute;
    height: 75%;
    top: 8%;
}
/* Caption text */
#categoryTip-text {
    color: black;
    font-size: 15px;
    padding: 0px 6px 0px 6px;
    position: absolute;
    top: 80%;
    width: 100%;
    text-align: center;
}
#categoryTip-done {
    position: absolute;
    top: 100%;
}

/***************** Walk Time Modal *****************/
#walkTimeTip-layer {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: scroll; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
}
#walkTimeTip-modal {
    display: none;
    position: absolute;
    top: 15%;
    left: 7.5%;
    z-index: 2; /* Sit on top */
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    height: 80%;
    width: 85%;
    border-radius: 10px;
    padding: 15px 20px 20px 20px;
}
/* WalkTimeTip container */
.walkTimeTip-container {
    height: 85%;
    width: 100%;
    position: relative;
    margin: auto;
}
/* Caption title */
#walkTimeTip-title {
    color: black;
    padding: 0px 12px;
    position: absolute;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}
#walkTimeTip-img {
    position: absolute;
    height: 75%;
    top: 8%;
}
/* Caption text */
#walkTimeTip-text {
    color: black;
    font-size: 15px;
    padding: 0px 6px 0px 6px;
    position: absolute;
    top: 80%;
    width: 100%;
    text-align: center;
}
#walkTimeTip-done {
    position: absolute;
    top: 100%;
}

/***************** Closest Event Modal *****************/
#closestEventTip-layer {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: scroll; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
}
#closestEventTip-modal {
    display: none;
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: 2; /* Sit on top */
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    height: 55%;
    width: 80%;
    border-radius: 10px;
    padding: 15px 20px 20px 20px;
}
/* WalkTimeTip container */
.closestEventTip-container {
    height: 85%;
    width: 100%;
    position: relative;
    margin: auto;
}
/* Caption title */
#closestEventTip-title {
    color: black;
    padding: 0px 12px;
    position: absolute;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}
/* Caption text */
#closestEventTip-text {
    color: #888;
    font-size: 15px;
    padding: 0px 6px 0px 6px;
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
}
#closestEventTip-done {
    position: absolute;
    top: 95%;
}

/***************** Fading animation *****************/
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
.fade:not(.show) {
    opacity: 1 !important;
}


/***************** Header - Top 2 Rows *****************/
/***************** 1st Row *****************/
#header {
	/*background-color: #6CC3D5;*/
	height: 14%;
}
#logo-R {
    max-width: 80%;
}
/*Top navigation bar*/
#navigation {
	height: 55%;
	background-color: #6CC3D5;
}
/*Logo*/
#logoCol {
    padding: 1% 0 1% 3%;
}
/*Search bar*/
#search-location-form {
    width: 100%;
    height: 100%;
}
#search-location {
	float: left;
    width: 70%;
	font-size: 11px;
	height: 100%;
}
#search-location-btn {
    color: #ffff;
    width: 20%;
    height: 100%;
    background: #F3969A;
    display: flex;
    justify-content: center;
    align-items: center;
}
#searchBarCol {
    padding: 1% 0 1% 0;
}
/*Weather*/
#weatherCol {
	width: 100%;
    padding: 1% 3% 1% 0;
}
#weather-btn {
    width: 100%;
    font-size: 9px;
    height: 100%;
}
#weather-icon {
    position: absolute;
    max-width: 55%;
    max-height: 55%;
    -webkit-transform: translate(-50%, -50%);
}
#weather-img-modal {
    position: absolute;
    height: 65%;
}
/*Display for weather modal*/
#weather-modal {
    display: none;
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: 1; /* Sit on top */
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    height: 60%;
    width: 80%;
    border-radius: 10px;
    padding: 20px 15px 20px 15px;
}

/***************** 2nd Row *****************/
/*Bottom navigation bar*/
#settings {
	height: 45%;
	width: 100%;
    padding-left: 0;
    padding-right: 0;
	margin-left: -7px;
	background-color: white;
}
#categories, #ages, #walk-time, #features {
	font-size:11px;
	text-align: center;
	height: 100%;
	padding-left: 0;
	padding-right: 0;
    line-height: 1px;
	background-color: white;
	color: black;
}
#categories {
    width: 30%;
}
#ages {
    width: 20%;
} 
#walk-time {
    width: 30%;
}
#features {
    width: 20%;
}
#category-icons {
    width: 25%;
    padding-top: 5%;
}
#settings-modal {
	display: none;
    position: fixed;
    z-index: 1;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    background-color: rgba(255,255,255,0.95);
}
/*Entire filter button*/
#select-all, #select-active, #select-arts, #select-family, #select-food, #select-free, #select-music {
	border: 1px solid #6CC3D5;
	margin-top: 4%;
	margin-bottom: 4%; 
}
/*Text of filter button*/
#text-all, #text-active, #text-arts, #text-family, #text-food, #text-free, #text-music {
    font-size: 11px;
    margin-bottom: 5%;
}
/*Warning for requiring location*/
#warning-modal {
    display: none;
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: 1; /* Sit on top */
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    height: 55%;
    width: 80%;
    border-radius: 10px;
    padding: 15px 20px 20px 20px;
}
#use-my-location, #check-it-out, #weather-done {
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    width: 90%;
    bottom: 5%;
    right: 5%;
}
@media only screen and (min-width : 667px) {    
    #get-started-1, #get-started-2, #categoryTip-done, #walkTimeTip-done, #closestEventTip-done, #weather-done, #done-button, #help-me-button, #use-my-location {
        width: 80%;
        left: 10%;
    }
}


/***************** Google maps *****************/
#map {
	height: 86%;
}
html, body {
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


/***************** Walk time slider *****************/
.slidecontainer {
    width: 100%;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4286f4;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4286f4;
    cursor: pointer;
}


/***************** The events modal (background) *****************/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 90%; /* Location of the box */
    padding-left: 5%;
    padding-right: 5%;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /*background-color: rgb(0,0,0); /* Fallback color */
    /*background-color: rgba(0,0,0,0.1); /* Black w/ opacity */
}
@media only screen and (min-width : 667px) {    
    .modal {
        padding-top: 50%; /* Location of the box */
    }
}

#moreInfoArrow {
    display:block;
    margin: 4% auto 8% auto;
    width: 25%;
}
#events-modal {
	overflow: scroll;
}
#scroll-notice {
    text-align: center;
    color: gray;
    font-size: 12px;
    padding: 1% 0 2% 0;
}
/* Entire modal dialog */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:100%; opacity:0} 
    to {top:0; opacity:1}
}
@keyframes animatetop {
    from {top:100%; opacity:0}
    to {top:0; opacity:1}
}
/* Sections of the modal dialog */
.modal-header {
    background-color: #6CC3D5;
}
#modal-title {
	color: white;
    margin-bottom: 0;
}
.modal-body {
	margin-top: -5%;
}